.home-container {
    padding: 40px;
    background-color: #E5E5E5;
}

.home-container h1 {
    font-size: 48px;
    line-height: 64px;
}

.home-container h2 {
    font-size: 24px;
    line-height: 40px;
    color: #7E7E7E;
}

.start-button {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    background-color: #1890FF;
    cursor: pointer;
}